.git
.gitignore
.DS_Store

**/.DS_Store
**/node_modules
**/.env
**/.env.*
!**/.env.example

backend/storage
backend/storage-test
backend/coverage
backend/tests
backend/database/seeds/development.sql

*.zip
*.tar
*.tar.gz
*.log

.env.production
.env.production.*